<div class="card-container">
  <ng-container *ngIf="cats.length > 0; else loading">
    <ng-container *ngIf="remainingCats.length > 0; else summaryComponent">
      <ng-container *ngFor="let cat of remainingCats.slice(0,2); let i = index">
        <app-cat-card
          [img]="cat"
          [zIndex]="2 - i"
          [isTop]="i === 0"
          [class.next-card]="i === 1"
          (like)="i === 0 && handleSwipe('like'); buttonEffect='like'"
          (dislike)="i === 0 && handleSwipe('dislike'); buttonEffect='dislike'"
        ></app-cat-card>
      </ng-container>

      <!-- Buttons below the card -->
      <div class="buttons-container">
        <button 
    [class.active]="buttonEffect==='dislike'" 
    [class.dislike]="buttonEffect==='dislike'"
    (click)="handleSwipe('dislike'); buttonEffect='dislike'">
    <img src="assets/close (1).png" alt="Like" width="24" height="24">
  </button>
  <button 
    [class.active]="buttonEffect==='like'" 
    [class.like]="buttonEffect==='like'"
    (click)="handleSwipe('like'); buttonEffect='like'">
    <img src="assets/heart.png" alt="Like" width="24" height="24">
  </button>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #loading>
  <p style="text-align:center; margin-top:50px;">Loading cats...</p>
</ng-template>

<ng-template #summaryComponent>
  <app-summary [likedCats]="likedCats"></app-summary>
</ng-template>
